[submodule "themes/nix"]
	path = themes/nix
	url = https://github.com/LordMathis/hugo-theme-nix.git
[submodule "uBlogger"]
	path = uBlogger
	url = https://github.com/uPagge/uBlogger
[submodule "hugo-eureka"]
	path = hugo-eureka
	url = https://github.com/wangchucheng/hugo-eureka
